# ===================================================================
# Node.js / npm
# ===================================================================
# インストールされたライブラリ。`npm install`で再生成できるため不要
/node_modules

# npmのエラーログファイル
npm-debug.log*
yarn-error.log*
pnpm-debug.log*


# ===================================================================
# ビルド成果物
# ===================================================================
# GitHub Actionsが自動生成する、公開用のファイルが格納されるディレクトリ
/public

# GitHub Actionsが自動生成する、Tailwind CSSのビルド結果ファイル
# ソースは src/input.css なので、生成物はリポジトリに含めない
/style.css


# ===================================================================
# OS / エディタ固有のファイル
# ===================================================================
# macOS
.DS_Store

# Windows
Thumbs.db

# JetBrains IDEs (WebStorm, IntelliJ IDEAなど)
.idea/

# Visual Studio Code
.vscode/


# ===================================================================
# 任意
# ===================================================================
# 依存関係を厳密に管理するファイル。
# チーム開発では必須ですが、個人の場合はコメントアウトしても問題ありません。
# package-lock.json
